// mixins from https://gist.github.com/adamgiese/717969cb38d4b30e1eff3d3abc6472f0

@mixin valid-quantity($quantity)
    @if type-of($quantity) != 'number'
        @error 'The "quantity" parameter must be a number!'
    @if not(unitless($quantity))
        @error 'The "quantity" parameter must not have a unit!'
    @if $quantity < 0
        @error 'The "quantity" parameter must be at least 0!'

@mixin has-nth($expression, $element: '*')
    &:nth-last-child(#{$expression}):first-child,
    &:nth-last-child(#{$expression}):first-child ~ #{$element}
        @content

@mixin at-least($quantity, $element: '*')
    @include valid-quantity($quantity)
    @include has-nth('n + #{$quantity}', $element)
        @content

$dieKinds: (ability:$ability, proficiency:$proficiency, difficulty:$difficulty, challange:$challange, boost:$boost, setback:$setback, force: $force)

$die-force: ( stroke: black, singleSymbol: (scale: 0.5, transform-origin: center calc(#{$dieDimension} * 0.55) ))

.die-button
    @extend .is-unselectable
    @extend .is-clickable
    width: $dieDimension
    height: $dieDimension
    &.is-small
        .die
            width: calc(#{$dieDimension} * 0.8)
            height: calc(#{$dieDimension} * 0.8)
.die
    width: $dieDimension
    height: $dieDimension
    filter: drop-shadow(0px 3px 1px rgba(0, 0, 0, 0.2))
    margin: 0px 1px

    &.die-force
        stroke: black
    &.die-challange, &.die-difficulty, &.die-setback
        fill: white !important
    .shape
        @each $kind, $color in $dieKinds
            &-#{$kind}
                fill: $color
    .text text
        transform-origin: center center

    &.die-challange, &.die-proficiency, &.die-force
        .symbol
            >*
                transform: scale(0.5)
                transform-origin: center calc(#{$dieDimension} * 0.55)
            @include at-least(2,'.symbol')
                &:nth-child(1)>*
                    transform-origin: center calc(#{$dieDimension} * 0.3)
                    transform: scale(0.3)
                &:nth-child(2)>*
                    transform-origin: center calc(#{$dieDimension} * 0.8)
                    transform: scale(0.3)
    &.die-force
        .symbol
            >*
                transform: scale(0.3)
    &.die-ability, &.die-difficulty
        .symbol
            >*
                transform: scale(0.4)
                transform-origin: center calc(#{$dieDimension} * 0.75)
            @include at-least(2,'.symbol')
                &:nth-child(1)>*
                    transform-origin: center calc(#{$dieDimension} * 0.45)
                    transform: scale(0.25)
                &:nth-child(2)>*
                    transform-origin: center calc(#{$dieDimension} * 0.85)
                    transform: scale(0.25)
    &.die-boost, &.die-setback
        .symbol
            >*
                transform: scale(0.5)
                transform-origin: center center
            @include at-least(2,'.symbol')
                &:nth-child(1)>*
                    transform-origin: calc(#{$dieDimension} * 0.2) calc(#{$dieDimension} * 0.2)
                    transform: scale(0.35)
                &:nth-child(2)>*
                    transform-origin: calc(#{$dieDimension} * 0.8) calc(#{$dieDimension} * 0.8)
                    transform: scale(0.35)
