
@charset "utf-8"

@import "_variables"
@import "~bulma/bulma"
@import "_overrides"

@import "_dice"

body
    #app
        display: flex
        min-height: 100vh
        flex-direction: column

main
    flex: 1 0 auto

.navbar-github-icon
    img
        -webkit-filter: invert(1)
        filter: invert(1)

.result
    font-size: 1.5rem
    font-weight: bold

.roll-icon
    width: 4rem
    height: 4rem

.empty-pool-message
    height: #{$dieDimension}

.remove-numeric-result
    cursor: pointer
    float: right
    font-size: 16px
    line-height: 32px
    padding-left: 8px

.is-circle
    padding-left: 0.1rem !important
    padding-right: 0.1rem !important
