
@import "~materialize-css"

body>div
    display: flex
    min-height: 100vh
    flex-direction: column

main
    flex: 1 0 auto


.nav-wrapper
    img
        -webkit-filter: grayscale(1) invert(1)
        filter: grayscale(1) invert(1)
        margin-top: 0.3rem
h1
    font-size: 1.6rem

h2
    font-size: 1.4rem

.m-r2
    margin-right: 0.4rem

.p-3
    padding-top: 0.6rem

.result
    font-size: 1.5rem
    font-weight: bold

.roll-icon
    width: 4rem
    height: 4rem

.empty-pool-message
    height: $button-height

.aggregated-result    
    svg
        width: 2rem

a
    cursor: pointer

.remove-numeric-result
    cursor: pointer
    float: right
    font-size: 16px
    line-height: 32px
    padding-left: 8px

.minw-2
    min-width: 5rem !important
